clickonce/
packages/
bin/
obj/
*.user
*.suo
*.vs/
Red Ink for Word/Red Ink for Word_TemporaryKey.pfx
Red Ink for Excel/Red Ink for Excel_TemporaryKey.pfx
Red Ink for Outlook/Red Ink for Outlook_TemporaryKey.pfx

